/*Import Link for the Josefin Sans Font from Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Mukta&display=swap');

html {
    overflow-x: hidden;
    /*Prevents horizontal scrolling on the browser screen*/
    scroll-behavior: smooth; /*Creates a smooth scrolling effect when the user clicks on an anchor link that takes them to a different section of the webpage*/
}

/*NAVBAR*/
.nav-bar {
    position: sticky;
    /*Creates a sticky element that stays in the same spot in the browser screen*/
    top: 0;
    /*Tells the browser to stick the element at the top of thhe page based on user's scroll*/
    z-index: 9;
    /*Sets the stack layer of the nav-bar to scroll over all the elements */
}

ul {
    display: flex; /*Creates a flex container which will expand or shrink elements to fill the space available to them and place the elements side by side horizontally*/
    list-style-type: none;
    /*Removes the default styling for unordered list elements*/
    align-items: center;
    margin: -8px -8px 0px -8px;
    /*The magin order is top, right, bottom, and left. The negative margin will stretch the background beyond the edge of the browser screen*/
    background-color: rgb(1, 128, 106);
    border-bottom: 5px solid rgb(247, 177, 188);
}

a {
    display: block; /*Display anchor elements vertically on a new line, this was added so the drop down meny display vertically and not horizontally*/
    font-family: "Josefin Slab", serif;
    font-size: 25px;
    font-weight: 800;
    color: rgb(247, 177, 188);
    text-align: center;
    width: 100px;
    padding: 20px;
    text-decoration: none;
    transition: background-color 0.3s ease-in;
}

a:hover, .drop:hover a:only-of-type /*Only-of-type effect the only child element nested within an element. This will keep the background color blue while hovering and the text white when we move the mouse over anchor elements within the rollover-menu div*/{
    background-color: rgb(149, 238, 223);
    color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.7);
    transition: background-color 0.3s ease-in;
}

.rollover-menu{
    display: none;    /*prevents the anchor links in this div from showing on the web browsers until otherwise specified*/
    position: absolute; /*Absolute will position the div element relative to the position of its parent element*/
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);   
}

/*Creates a trigger effect when the user hovers their mouse over the Recipes link. The trigger will display all eleements within the rollover-menu div element*/
.drop:hover .rollover-menu{
    display: block;
}

.rollover-menu a {
    color: rgb(0, 80, 67);

}

.rollover-menu a:hover {
    color: white;
    box-shadow: 0px 8px 16px 0px rgba(90, 90, 90, 0.2);
}

.rollover-menu a:nth-child(1){
    border-top: 5px solid rgb(238, 118, 136);
}

/*FOOTER*/

footer{
    align-items: center; /*Will align nested HTML elements in ther center i.e the table data and paragraph elements in the footer tag */
    margin: 0px -8px -8px -8px; /*Stretches the footer background beyond the browsers edge leaving no wgite space*/
    background-color: rgb(1, 128, 106);
    border-top: 5px solid rgb(247, 177, 188);
    bottom: 0; /*Position the footer at the bottom of the screen */

}

table{
    width: 100%; /*Sets the table width to 100% of the browser screen*/

}

td{
    width: 33.33%; /*Each table data item takes up 1/3 of the space available on the screen*/
}

td p{
    font-family: 'Josefin Slab', serif; /*From Google Fonts*/
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: rgb(247, 177, 188);
}
