h1 {
    text-align: center;
    color: green;
}

/*This container includes our table and our canvas.*/
.center-container {
    /*This property sets the width of our container.*/
    width: 608px;
    /*This property centers our container horizontally.*/
    margin: 0 auto;
    /*50px down from the top*/
    margin-top: 50px;
}

table {
    /*This property collapes table border into 1 border.*/
    border-collapse: collapse;
   /*This hides outer border on talble.*/
    border-style: hidden;
}

td {
    cursor: pointer;
    border: 4px solid rgba(252, 169, 3, 0.8);
    padding: 0px;
    width: 200px;
    height: 200px;
    filter: contrast(3);
}

canvas {
    position: absolute;

    z-index: 10;
    pointer-events: none;
}